#container {
    display: none;
    position: fixed;
    background-color: rgba(233,233,233,0.9);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

#form {
    width: 60%;
    position: relative;
    margin: 4rem auto;
    display: flex;
    box-sizing: border-box;
}

#wrapper {
    align-items: center;
    display: flex;
    overflow: hidden;
    background-color: #fff;
    flex-shrink: 0;
    border: solid 1px rgba(128,126,163,.8);
    height: 44px;
    border-radius: 3px;
    order: 1;
    width: 100%;
}

#wrapper:focus-within {
    /*border: solid 2px #3e34d3;*/
    border: solid 1px rgba(62, 52, 211, 0.8) !important;
    box-shadow: 0 0 2px 2px rgb(62 52 211 / 20%), inset 0 0 0 2px rgb(62 52 211 / 20%);
    outline: medium none currentColor;
}

#search-button {
    order: 1;
    border: 0;
    background: none;
    height: 100%;
    width: 44px;
}

#input {
    color: rgb(17, 11, 50);
}
#input:focus {
    padding: 0;
    order: 2;
    font-size: 1.3rem;
    font-weight: 400;
    border: 0;
    height: 40px;
    line-height: 40px;
    outline: none;
    width: 100%;
}
#input:focus-visible {
    border: none;
    outline: none;
}
#input::placeholder {
    color: rgba(128,126,163,.8);
}

#clear-button {
    order: 3;
    border: 0;
    background: none;
    height: 100%;
    cursor: pointer;
    width: 44px;
}

/*svg {*/
/*    color: #3e34d3;*/
/*    height: auto;*/
/*    max-height: 20px;*/
/*    stroke-width: 1.6;*/
/*    width: 20px;*/

/*}*/